body {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
}

#main-content {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#issue-id {
    color: #AAA;
}

#license-expression {
    font-family: Consolas, monospace;
}

#license-expression > .operator {
    font-weight: bold;
}