@model NuGet.Licenses.Models.ComplexLicenseExpressionViewModel
@using NuGet.Licenses.Models

@functions {
    static string GetRunSpecificClass(ComplexLicenseExpressionRunType runType)
    {
        return runType.ToString().ToLowerInvariant();
    }
}

<p>
    Composite license expression:
</p>

<div id="license-expression">
@foreach(var run in Model.Runs)
{
    if (run.Type == ComplexLicenseExpressionRunType.LicenseIdentifier || run.Type == ComplexLicenseExpressionRunType.ExceptionIdentifier)
    {
        <a href="@run.Value">@run.Value</a>
    }
    else
    {
    <span class="license-expression-element @GetRunSpecificClass(run.Type)">@run.Value</span>
    }
}
</div>