@model NuGet.Licenses.Models.UnknownLicenseModel

@{
    ViewBag.Title = "Unknown license";
}

<p>We have no information regarding the '@Model.LicenseName' license.</p>
<p>We only host licenses that are FSF and OSI-approved.</p>
<p>For infos on other SPDX licenses please visit the <a href="https://spdx.org/licenses/">SPDX license list</a>.</p>
